body {
    background-color: #1b1c30;
    text-align: center;
    color: white;
    font-family: "Helvetica", "Tahoma", sans-serif;
}

.enlaces {
    color: #f46c95;
    text-align: left;
}

h1 {
    color: #f46c95;
}

.perprincipal {
    width: 417px;
    height: auto;
}

.comidas {
    width: 768px;
    height: auto;
}

button {
    background-color: #f46c95;
}